@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    --scroll-behavior: smooth !important;
    scroll-behavior: smooth !important;
}

* {
    -webkit-tap-highlight-color: transparent;
}

@layer base {
    body {
        @apply text-white bg-black font-space scrollbar-thin scrollbar-thumb-green-bright scrollbar-track-green-bright/10;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-bold;
    }

    h1 {
        @apply text-4xl sm:text-5xl md:text-6xl;
    }

    h2 {
        @apply text-3xl sm:text-4xl;
    }

    li {
        @apply cursor-pointer;
    }

    button {
        @apply px-5 py-2 text-white rounded-md shadow-lg bg-green-bright shadow-green-bright/10;
    }
}
